<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>101Mailz - About us</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"         rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
  <div id="container">
    <div class="navbar">
  
      <a id="brandName" onclick="window.location.reload();">101<br><span>MAILZ</span></a>

      <a href="/">HOME</a>
  
    </div>
      
    </section>
   
  </div>
  <br>
  <b style = "margin-left: 50px">Deze pagina is gemaakt door Lotte en Jens</b>
</body>