<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>101Mailz - Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"         rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>
<body>
  <div id="container">

    <div id="mail-container">

    </div>
    <div id="left-container">
      
      <div class="navbar">

        <a href="/logout">LOG OUT</a>
        <a href="/account">ACCOUNT SETTINGS</a>
        <a href="/about-us">ABOUT US</a>
        <a href="/home">HOME</a>
        
      </div>

      <div id="settings-gear">
        <%- include ("./images/setting-gear.svg") %>
      </div>

    </div>
      
    <div id="mailz">
      <%= locals.mailz %>
  </div>

   
  </div>

</body>