<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>101Mailz</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
  <div id="welkom">
    Welkom, <%= locals.gebruikersnaam %>!
  </div>
</body>