* {
  box-sizing : border-box;
  outline : none;
  }
  body {
  margin : 0;
  overflow : hidden;
  background-color : #fff;
  font-family : 'Work Sans', sans-serif;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #121212;
  }
  .dashboard {
  height : 100vh;
  display : flex;
  }
  .left {
  height : 100%;
  display : flex;
  }
  .sidebar {
  width : 80px;
  height : 100%;
  background-image : linear-gradient(-225deg, #EAE2B7 0%, #FCBF49 100%);
  display : flex;
  }
  .wrapper {
  padding : 0 25px;
  height : 100vh;
  display : flex;
  flex-direction : column;
  }
  .items {
  margin-top : 50px;
  }
  .items > img {
  margin-bottom : 25px;
  }
  .profile > img {
  border-radius : 50%;
  height : 35px;
  border : black solid 1px;
  }
  .profile {
  margin-top : auto;
  }
  .menu {
  margin-top : 20px;
  }
  .navigation {
  width : 270px;
  }
  .brand-name {
  font-family : Inter;
  font-weight : 700;
  float : left;
  padding : 50px 0 0 10px;
  width : 120px;
  margin-bottom : 30px;
  margin-left : -8px;
  font-size : 5vw;
  line-height : 1.5vw;
  user-select : none;
  color : #121212;
  }
  .brand-name span {
  font-family : 'Reem Kufi', sans-serif;
  font-weight : 400;
  font-size : 1.5vw;
  position : relative;
  left : 25%;
  text-align : center;
  color : #121212;
  opacity : 0.87;
  }
  .wrapper2 {
  padding : 0 25px;
  position: relative;
  top: -10px;
  height : 102%;
  overflow : auto;
  border: solid 0.2em #121212;
  }
  .compose {
  width : 150px;
  text-align : center;
  height : 50px;
  border-radius : 13px;
  border : solid 1px;
  background-image : linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  color : #121212;
  font-size : 16px;
  padding-left : 20px;
  position : relative;
  }
  .folders {
  margin-top : 30px;
  color : #b8b8b8;
  font-size : 14px;
  }
  .folder-icons {
  margin-top : 20px;
  display : flex;
  align-items : center;
  }
  .icon-name1 {
  margin-left : 10px;
  color : #121212;
  }
  .icon1 {
  filter : grayscale(1);
  }
  #icon3 {
    width: 16px;
    filter : grayscale(100%);
    color: gray;
  }
  .icon-name {
  margin-left : 10px;
  color : grey;
  }
  .names {
  margin-left : 10px;
  font-weight : bold;
  font-size : 15px;
  }
  .avatar > img {
  width : 35px;
  border-radius : 10px;
  }
  .section1 {
  margin-top : 25px;
  margin-bottom : 10px;
  }
  .btn {
  border-radius : 3px;
  border : 1px;
  padding : 0 10px 0 30px;
  height : 30px;
  font-weight : bold;
  position : relative;
  }
  .buton1 {
  background-color : #f8f1ff;
  color : #a84bfe;
  }
  .buton2 {
  background-color : #fff1f6;
  color : #fe4b85;
  }
  .buton3 {
  background-color : #eef0ff;
  color : #2632fe;
  }
  .buton4 {
  background-color : #ebfbf8;
  color : #01c991;
  }
  .tag {
  position : absolute;
  left : 8px;
  top : 10px;
  }
  .plus > img {
  width : 16px;
  height : 16px;
  }
  .plus {
  left : 10px;
  position : absolute;
  }
  .buton-span {
  border-radius : 15px;
  padding : 5px 10px;
  border : 1px;
  color : #121212;
  background-color : #fe365c;
  box-shadow : 0 0 10px 2px #f7bfc9;
  margin-left : 70px;
  }
  .online {
  position : absolute;
  top : -5px;
  right : -5px;
  border : #fbfcf8 solid 4px;
  box-sizing : unset;
  background-color : #02c997;
  width : 10px;
  height : 10px;
  border-radius : 50%;
  }
  .avatar {
  position : relative;
  }
  .red {
  background-color : #fe4663;
  }
  .big-inbox {
  font-size : 25px;
  font-weight : 500;
  }
  .right-side {
  background-color : transparent;
  width : 100%;
  padding : 8px 30px;
  display : flex;
  flex-direction : column;
  }
  .right-body {
  flex : 1;
  display : flex;
  overflow : hidden;
  background-color : transparent;
  }
  .top-bar {
  display : flex;
  align-items : center;
  text-align : center;
  }
  .top-bar-justify {
  display : flex;
  justify-content : space-between;
  width : 100%;
  }
  .top-bar-items {
  align-items : center;
  display : flex;
  justify-content : space-between;
  width : 180px;
  }
  .profile2 > img {
  border-radius : 50%;
  height : 28px;
  border : #121212 solid 2px;
  margin-left : 25px;
  margin-right : 5px;
  }
  .profile2 {
  display : flex;
  align-items : center;
  width : 120px;
  }
  .icon-name5 {
  font-size : 13px;
  color : grey;
  }
  .new-hr {
  border : #ddd solid 0.6px;
  margin-bottom : 25px;
  }
  .notif {
  position : relative;
  }
  .pink {
  background-color : #fe96db;
  width : 7px;
  height : 7px;
  margin : -3px;
  }
  .checkbox > input {
  width : 20px;
  height : 20px;
  }
  .right-bottom {
  display : flex;
  align-items : center;
  justify-content : space-between;
  }
  .down-arrow > img {
  width : 12px;
  height : 14px;
  margin-bottom : -2px;
  margin-left : 5px;
  }
  .new:hover {
  background-color : #121212;
  }
  .new {
  border-radius : 4px;
  border : none;
  width : 40px;
  height : 30px;
  background-color : #edeef5;
  }
  .check {
  display : flex;
  align-items : center;
  }
  .has-search .text {
  padding-left : 30px;
  margin-left : 45px;
  }
  .form {
  display : flex;
  align-items : center;
  }
  .searchIcon {
  margin-left : 53px;
  position : absolute;
  margin-top : 2px;
  }
  .text {
  border : #ddd solid 1px;
  border-radius : 4px;
  width : 280px;
  height : 30px;
  background-color : #edeef5;
  }
  .buttons {
  display : flex;
  }
  .middle-buttons {
  display : flex;
  }
  .scroll-cards {
  width : 370px;
  height : 95.3%;
  overflow : auto;
  position : relative;
  top : 2.35%;
  padding : 5px 0 5px 0;
  box-shadow : 0 4px 30px rgb(0, 0, 0, 0.1);
  backdrop-filter : blur(7.4px);
  border : #121212 solid 0.2em;
  border-radius : 16px;
  overflow-x: hidden;
  }
  .card {
  border-radius : 16px;
  box-shadow : 0 4px 30px rgb(0, 0, 0, 0.1);
  backdrop-filter : blur(7.4px);
  border : #121212 solid 1px;
  border-radius : 25px;
  margin-top : 8px;
  margin-bottom : 5px;
  padding : 25px 25px 15px 25px;
  transition : 0.3s;
  }
  .card:hover {
  box-shadow : 5px 1px 20px 1px #121212
;
  transform : scale(0.96);
  }
  .mail-names {
  color : grey;
  font-weight : bold;
  font-size : 15px;
  margin-left : 10px;
  }
  .mails {
  display : flex;
  align-items : center;
  }
  .mails > img {
  width : 35px;
  border-radius : 10px;
  }
  .mail-info {
  margin : 10px 65px;
  margin-left : 0;
  line-height : 1.7;
  font-weight : 600;
  color : #121212;
  }
  .check1 {
  display : flex;
  align-items : center;
  justify-content : space-between;
  width : 80px;
  }
  .bottom-info {
  display : flex;
  justify-content : space-between;
  }
  .date {
  color : grey;
  }
  .standard-text {
  text-decoration : none;
  color : #121212;
  font-family : 'Work Sans', sans-serif;
  font-size : 1.5rem;
  text-transform : uppercase;
  font-weight : bold;
  transition : all 0.3s ease-in-out;
  }
  .standard-text:hover {
  opacity : 0.69;
  cursor : pointer;
  }
  .person {
  width : 25px;
  height : 25px;
  border-radius : 10px;
  text-align : center;
  color : #121212;
  padding : 5px 3px 0;
  }
  .border1 {
  background-color : #5f4bfd;
  }
  .border2 {
  background-color : #e32553;
  }
  .border3 {
  background-color : #01c828;
  }
  .message {
  margin : 20px 10px;
  flex : 1;
  border-radius : 16px;
  box-shadow : 0 4px 30px rgb(0, 0, 0, 0.1);
  backdrop-filter : blur(7.4px);
  border : #121212 solid 0.2rem;
  padding :25px;
  overflow : auto;
  color : #121212;
  }
  .mes-date {
  color : grey;
  font-size : 14px;
  }
  .who {
  font-weight : 600;
  }
  .title {
  font-size : 18px;
  font-weight : bold;
  margin-bottom : 10px;
  margin-top : 10px;
  }
  .scroller {
  overflow : auto;
  font : 16px/1.5 Arial;
  color : #444;
  border : #ddd solid 1px;
  margin : 20px;
  padding : 20px;
  max-width : 300px;
  height : 200px;
  }
  .message-from {
  margin-top : 20px;
  color : grey;
  font-size : 17px;
  }
  .attachment-last {
  display : flex;
  align-items : center;
  justify-content : space-between;
  width : 350px;
  }
  .att-write {
  color : grey;
  }
  .buton0 {
  background-color : #ecefff;
  color : #7175c0;
  }
  .buton9 {
  background-color : #e0f8e3;
  color : #79b992;
  }
  .btn1 {
  border-radius : 3px;
  border : 1px;
  height : 25px;
  font-weight : bold;
  }
  .inside-img > img {
  width : 100px;
  border-radius : 10px;
  margin-top : 20px;
  }
  .inside-img > img:hover {
  transform : scale(0.95);
  }
  .son-buton {
  width : 100px;
  height : 68px;
  border-radius : 10px;
  border : 1px;
  margin-top : 17px;
  background-color : #f5e9f9;
  color : #b79ed8;
  font-weight : 500;
  font-size : 20px;
  }
  .son-images {
  display : flex;
  align-items : center;
  justify-content : space-between;
  width : 520px;
  }
  .btn2 {
  margin-top : 40px;
  border-radius : 3px;
  border : 1px;
  height : 35px;
  padding : 5px 30px;
  color : #121212;
  position : relative;
  }
  .butona {
  background-color : #8e44ad;
  }
  .butonb {
  background-color : #fe4a85;
  }
  .butona:hover {
  background-color : #892bb4;
  }
  .butonb:hover {
  background-color : #ec195f;
  }
  .default-input {
  padding : 0.8em;
  border : #ccc solid 2px;
  font-size : 1em;
  width : 100%;
  color : #999;
  margin-bottom : 15px;
  border-radius : 0;
  font-family : 'Inter', sans-serif;
  font-weight : 400;
  background : transparent;
  }
  .default-input:focus {
  border : #999 solid 2px;
  }
  .rounded {
  border-radius : 6px;
  overflow : hidden;
  }
  textarea {
  border-radius : 0;
  }
  textarea {
  resize : none;
  max-width : 100%;
  height : 150px;
  }
  .very-nice-text {
  color : #121212;
  font-family : 'Work Sans', sans-serif;
  font-size : 1.5rem;
  position : absolute;
  text-transform : uppercase;
  font-weight : bold;
  top : 65px;
  right : 5vw;
  }
  .reply-button {
  border : #121212 solid 0.2em;
  background : transparent;
  padding : 5px 15px 5px 15px;
  color : #121212;
  border-radius : 8px;
  opacity : 0.7;
  transition : 0.3s ease-in-out;
  font-family : 'Work Sans', sans-serif;
  }
  .reply-button:hover {
  opacity : 1;
  }
  .forward-button {
  border : #121212 solid 0.2em;
  background : transparent;
  padding : 5px 15px 5px 15px;
  color : #121212;
  border-radius : 8px;
  opacity : 0.7;
  transition : 0.3s ease-in-out;
  font-family : 'Work Sans', sans-serif;
  }
  .forward-button:hover {
  opacity : 1;
  }
  .button {
  user-select : none;
  display : inline-block;
  border : #121212 solid 0.2em;
  position : relative;
  left : 40%;
  cursor : pointer;
  overflow : hidden;
  opacity : 0.78;
  color : black;
  transition : 0.3s;
  border-radius : 16px;
  box-shadow : 0 4px 30px rgb(0, 0, 0, 0.1);
  backdrop-filter : blur(7.4px);
  }
  .button__text {
  display : block;
  padding : 1em 2em;
  text-transform : uppercase;
  font-weight : bold;
  }
  .button__text:before {
  content : attr(title);
  }
  .button__text--bis {
  display : block;
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  transform : translateX(-1em);
  opacity : 0;
  }
  .button__mask {
  display : block;
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  background : #121212;
  transform : translateX(-100%) rotate(45deg);
  transition : all 0.3s;
}
  .button:hover {
  opacity : 1;
}
  .button:hover .button__text {
  animation : fx-text 0.3s ease-out;
}
  .button:hover .button__text--bis {
  animation : fx-text-bis 0.3s ease-out;
}
  .button:hover .button__mask {
  animation : fx-mask 0.3s ease-out;
}
  .button:active {
  opacity : 1;
  background : #121212;
  color : inherit;
}
  @keyframes fx-mask {
  0% {
  transform : translateX(-100%) rotate(45deg);
  }
  100% {
  transform : translateX(100%) rotate(45deg);
  }
}
  @keyframes fx-text {
  0% {
  transform : translateX(0);
  opacity : 1;
  }
  100% {
  transform : translateX(1em);
  opacity : 0;
  }
}
  @keyframes fx-text-bis {
  0% {
  transform : translateX(-1em);
  opacity : 0;
  }
  100% {
  transform : translateX(0);
  opacity : 1;
  }
}
.preloadertje {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute; 
  width: 100vw; 
  height: 100vh; 
  background-color: black;
  z-index: 2;
}

.preloader {
  margin: 100px auto 0;
  width: 66px;
  height: 12px;
}

.main {
  color: #fff;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.preloader {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	width: 50%;
  z-index:50;
}

.preloader .line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader .line-1 { animation-delay: 800ms; }
.preloader .line-2 { animation-delay: 600ms; }
.preloader .line-3 { animation-delay: 400ms; }
.preloader .line-4 { animation-delay: 200ms; }
.preloader .line-6 { animation-delay: 200ms; }
.preloader .line-7 { animation-delay: 400ms; }
.preloader .line-8 { animation-delay: 600ms; }
.preloader .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

html {
    height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    background: none;
    background-color: var(--bg-color);
}

 :root {

    --font-color: #0f0f0f;
    --bg-color: #fefefe;

}

[data-theme="dark"] {

    --font-color: #fefefe;
    --bg-color: #121212;
}

.switch {
    height: 60px;
    position: relative;
    left: 25px;
    top: 0px;
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}